. {
    forward . {{ nidito.dns.external.forwarders | join(" ") }}
    cache
}


# Main zone
{{ nidito.dns.zone }} {
    hosts {
        {% for host in dns.hosts -%}
        {{ host.address }} {{ host.name }}.{{ nidito.dns.zone }}
        {% endfor %}

        fallthrough
    }

    consul_catalog nidito.dns.enabled {
        endpoint 10.42.20.2:{{ nidito.consul.ports.http }}
        ttl 1m
        acl_metadata_tag nidito-acl
        {% for network, range in nidito.networks.items() -%}
        acl_zone {{ network }} {{ range }}
        {% endfor %}

    }

    file {{ node.dns.config }}/zones/main

    log {
      class denial error
    }

    errors
}

consul {
    # allow only specific networks to query this zone
    # either way, both consul and the node's firewall should deny
    # but just in case of computers, and to make my life easier
    # since now i don't need a custom domain for consul
    acl {
        allow net 127.0.0.1/32
        {% for network in nidito.consul.allowed_networks -%}
        allow net {{ nidito.networks[network] }}
        {% endfor %}

        block
    }

    # Forward all requests to consul
    # first to ourselves if this server runs consul server too
    # then to every other consul server
    forward . {% for addr in dns.consul_servers %} {{addr}}:{{ nidito.consul.ports.dns }}{% endfor %} {
        policy random
    }

    log {
        class denial error
    }
    errors
}
