$ORIGIN {{ config.services.dns.zone }}.
$TTL 1h

@	IN	SOA	{{ node.name }}.{{ config.services.dns.zone }}.	admin	(
	42	; serial
	12h	; refresh
	3m	; retry
	2w	; expire
	3h	; minimum
	)
	IN NS		{{ node.name }}

; Nameservers
{% for name, n in config.nodes.items() if n.tags.role == "router" and n.dc == node.dc %}
{{ name.ljust(20) }}		5m		IN	A		{{ n.address }}
{% endfor %}

; Cluster leaders
{% for name, n in config.nodes.items() if n.tags.role == "leader" and n.dc == node.dc and "provisioning" not in n.tags %}
{{ config.datacenters[node.dc].dns.leaders }}		5m		IN	A		{{ n.address }}
{% endfor %}

; Let clients pass letsencrypt's dns challenge
_acme-challenge		5m		IN	NS		{{ config.services.dns.acme_resolver }}
