#!/usr/bin/env bash
dst=/etc/ssl/certs/nidito.pem
cat >"$dst" <<PEM
{{ config.services.ca.cert }}
PEM

if !grep -q -f <(grep -v '^-' "$dst") /etc/ssl/certs/ca-certificates.crt; then
  cat "$dst" >> /etc/ssl/certs/ca-certificates.crt
fi
