<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.vault.daemon</string>
    <key>UserName</key>
    <string>_vault</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/nidito/vault/log/vault.log</string>
    <key>StandardErrorPath</key>
    <string>/nidito/vault/log/error.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/vault</string>
        <string>server</string>
        <string>-config</string>
        <string>/nidito/vault/config/config.hcl</string>
    </array>
</dict>
</plist>
