#!/bin/bash

dpkg -i /config/wireguard/installer.deb
cfg=/opt/vyatta/sbin/vyatta-cfg-cmd-wrapper

{# source /opt/vyatta/etc/functions/script-template #}
$cfg begin
$cfg set interfaces wireguard wg0 address {{ config.datacenters[node.dc].peering.address }}
$cfg set interfaces wireguard wg0 description '{{ node.dc }} vpn'
$cfg set interfaces wireguard wg0 listen-port {{ config.services.wireguard.port }}
$cfg set interfaces wireguard wg0 mtu 1420

{% for name, peer in config.datacenters[node.dc].peering.peers.items() %}
{% if "dc" in peer %}
{% set net = config.networks[peer.dc] %}
{% set _dc = config.datacenters[peer.dc] %}
$cfg set interfaces wireguard wg0 peer {{ _dc.peering.key.public }} allowed-ips {{ _dc.peering.address | regex_replace('24$', "32") }}
{% if not _dc.peering.address.endswith("/32") %}
$cfg set interfaces wireguard wg0 peer {{ _dc.peering.key.public }} allowed-ips {{ _dc.peering.address  | regex_replace('\d+/', "0/")}}
{% endif %}
$cfg set interfaces wireguard wg0 peer {{ _dc.peering.key.public }} allowed-ips {{ _dc.subnet }}
$cfg set interfaces wireguard wg0 peer {{ _dc.peering.key.public }} description '{{ peer.dc }} tunnel'
$cfg set interfaces wireguard wg0 peer {{ _dc.peering.key.public }} endpoint '{{ _dc.peering.endpoint }}'
$cfg set protocols static interface-route {{ _dc.subnet }} next-hop-interface wg0 description '{{ peer.dc }} tunnel'
{% else %}
{% set peer = config.datacenters[node.dc].peering.peers[name] %}
{% for ip in peer.allowed_ips %}
$cfg set interfaces wireguard wg0 peer {{ peer.public_key }} allowed-ips {{ ip }}
{% endfor %}
$cfg set interfaces wireguard wg0 peer {{ peer.public_key }} description '{{ name }}'
{% if "endpoint" in peer %}
$cfg set interfaces wireguard wg0 peer {{ peer.public_key }} endpoint '{{ peer.endpoint }}'
{% endif %}
{% endif %}
{% endfor %}

$cfg set interfaces wireguard wg0 private-key {{ config.datacenters[node.dc].peering.key.private }}

$cfg set interfaces wireguard wg0 route-allowed-ips false

$cfg compare
$cfg commit
$cfg end
