[Interface]
PrivateKey = {{ config.datacenters[node.dc].peering.private_key }}
ListenPort = {{ config.services.wireguard.port }}

{% for peer_name in config.datacenters[node.dc].peering.peers %}
{% set peer = config.datacenters[peer_name] %}
[Peer]
PublicKey = {{ peer.peering.public_key }}
AllowedIPs = {{ peer.peering.address }}/32, {{ peer.subnet }};
Endpoint = {{ peer.dns.zone }}:{{ config.services.wireguard.port }}
{% endfor %}
