{% set peering = config.datacenters[node.dc].peering %}
[Interface]
PrivateKey = {{ peering.key.private }}
ListenPort = {{ config.services.wireguard.port }}
Address = {{ peering.address | regex_replace('24$', "32") }}, {{ peering.address | regex_replace('\d+/', "0/") }}
MTU = 1420

{% for name, peer in config.datacenters[node.dc].peering.peers.items() if "dc" in peer %}
{% set _dc = config.datacenters[peer.dc] %}
[Peer]
PublicKey = {{ _dc.peering.key.public }}
AllowedIPs = {{ _dc.peering.address | regex_replace('\d+$', "32") }}, {{ _dc.subnet }}
Endpoint = {{ peer.dc }}.{{ config.services.dns.zone }}:{{ config.services.wireguard.port }}
{% endfor %}
