{% set dc = config.datacenters[node.dc] %}
# https://developer.hashicorp.com/nomad/docs/configuration#configuration-reload
log_level = "warn"

# Require TLS
# https://learn.hashicorp.com/tutorials/nomad/security-enable-tls?in=nomad/transport-security#configuring-nomad
tls {
  http = true
  rpc = true
  # This allows the agent to accept both TLS and plaintext traffic.
  rpc_upgrade_mode = true
  ca_file = "{{ nomad.config }}/tls/ca.pem"
  cert_file = "{{ nomad.config }}/tls/cert.pem"
  key_file = "{{ nomad.config }}/tls/key.pem"
  verify_server_hostname = false
  # Enabling verify_https_client effectively protects Nomad from unauthorized
  # network access at the cost of **losing Consul HTTPS health checks**...
  verify_https_client = false
}

vault {
  enabled = true
  address = "https://vault.service.consul:{{ config.services.vault.port }}"

  token = "{{ dc.vault.nomad_token }}"
  ca_file = "{{ nomad.config }}/tls/ca.pem"

  create_from_role = "nomad-cluster"
}
