[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ consul.user }}
Group={{ user.group }}
EnvironmentFile=-/etc/default/consul
Restart=on-failure
ExecStart={{ consul.bin }} agent -config-dir={{ consul.config }}
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
