[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ consul_user }}
Group={{ consul_user }}
EnvironmentFile=-/etc/default/consul
Restart=on-failure
ExecStart={{ consul_bin }} agent $CONSUL_FLAGS -config-dir={{ consul_config_dir }}
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
