[Unit]
Description=Consul Agent
Requires=network-online.target
# `After` works fine on synology DSM (debian) after a full DC reboot
# but arch (kernel ~6.6, systemd ~254) doesn't wait at all with this
After=network-online.target
# Apparently, arch only waits with `Wants`
Wants=network-online.target

[Service]
User={{ consul.user }}
Group={{ user.group }}
EnvironmentFile=-/etc/default/consul
Restart=on-failure
ExecStart={{ consul.bin }} agent -config-dir={{ consul.config }}
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
