<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.consul.daemon</string>
    <key>UserName</key>
    <string>{{ consul.user }}</string>
    <key>GroupName</key>
    <string>{{ user.group }}</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ consul.logs }}/out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ consul.logs }}/error.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ consul.bin }}</string>
        <string>agent</string>
        <string>-config-dir</string>
        <string>{{ consul.config  }}</string>
    </array>
</dict>
</plist>
