[Unit]
Description=Nomad Agent
Requires=network-online.target
After=network-online.target

Wants=consul.service
After=consul.service

[Service]
EnvironmentFile=-/etc/default/nomad
Restart=on-failure
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
KillMode=process
LimitNOFILE=65536
LimitNPROC=infinity

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
