<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.nomad.daemon</string>
    <!--
      I could not make nomad talk to docker on macos from any users
      Other than admins or root :/
    -->
    <key>UserName</key>
    <string>root</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/nidito/nomad/log/nomad.log</string>
    <key>StandardErrorPath</key>
    <string>/nidito/nomad/log/error.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/nomad</string>
        <string>agent</string>
        <string>-config</string>
        <string>/nidito/nomad</string>
    </array>
</dict>
</plist>
