<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.prometheus.node_exporter.daemon</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ node_exporter_config_dir }}/out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ node_exporter_config_dir }}/error.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ node_exporter_bin }}</string>
        <string>--web.listen-address={{ node.address }}:9100</string>
    </array>
</dict>
</plist>
