# Systemd service unit for unpoller.
# This is part of Application Builder.
# https://github.com/golift/application-builder
# This file is installed when FORMULA is set to 'service'.

[Unit]
Description=unpoller - Telemetry and Observability for your UniFi Network
After=network.target {{ unpoller.systemd.after }}
Requires=network.target

[Service]
ExecStart={{ unpoller.bin }} -c {{ unpoller.data }}/up.conf $DAEMON_OPTS
EnvironmentFile=-/etc/default/unpoller
EnvironmentFile=-/etc/sysconfig/unpoller
Restart=always
RestartSec=10
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=unpoller
Type=simple
WorkingDirectory=/tmp

# These should be set correctly for your environment.
# UMask=0002
User=unifi-poller
# Group=unpoller

[Install]
WantedBy=multi-user.target
